
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
  font-size: 12px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
input {
  line-height: normal;
}
button {
  cursor: pointer;
}
/* body {
  padding: 50px 20px;
} */
.image-slider {
  padding-bottom: 50px;
}
.image {
  height: 500px;
  margin-bottom: 20px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.image-title {
  font-size: 20px;
  color: #8e8fb5;
}
.slick-initialized .slick-slide {
  margin: 0 10px;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
}
.slick-arrow:hover {
  background-color: #2cccff;
  color: white;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}
.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #eee;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.slick-dots .slick-active button {
  background-color: #2cccff;
}

/* Your existing CSS code */
@media screen and (max-width: 768px) {
  .image-slider {
    padding-bottom: 20px; /* Reduce padding for smaller screens */
  }

  .image {
    height: 300px; /* Adjust height for smaller screens */
    margin-bottom: 10px; /* Reduce margin for smaller screens */
  }

  .slick-initialized .slick-slide {
    margin: 0 5px; /* Adjust slide margin for smaller screens */
  }

  .slick-arrow {
    width: 30px; /* Adjust arrow size for smaller screens */
    height: 30px;
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .slick-dots button {
    width: 10px; /* Adjust dot size for smaller screens */
    height: 10px;
  }

  .slick-dots {
    bottom: 5px; /* Adjust dots position for smaller screens */
  }
}